<?php
$cipherMethod = 'AES-256-CFB';
$emailKey = 'emailKey';
$cellPhoneKey = 'cellPhoneKey';
$homePhoneKey = 'homePhoneKey';
$govEmailKey = 'govEmailKey';
$prsnlEmailKey = 'prsnlEmailKey';
$birthdateKey = 'birthdateKey';
$mailAuthorizationPassword = 'mailAuthorizationPassword';
$apptEmailKey ='apptEmailKey';
$essDescriptionKey = 'essDescriptionKey';
$adminEmail = 'NotARealEmal@NoEmailgmail.com';

?>
